/ResultStudio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ResultStudio/obj/Debug/ResultStudio.csproj.AssemblyReference.cache
/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UnitTests/obj/Debug/UnitTests.csproj.AssemblyReference.cache
/ResultStudio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ResultStudio/obj/Debug/ResultStudio.csproj.AssemblyReference.cache
/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UnitTests/obj/Debug/UnitTests.csproj.AssemblyReference.cache
